{% extends 'lists/base.html' %}

{% block header_text %}My Lists{% endblock %}
{% block list_form %}{% endblock %}
{% block extra_content %}
    <h2>{{ owner.email }}'s lists</h2>  1
    <ul>
        {% for list in owner.list_set.all %}  2
            <li><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></li>  3
        {% endfor %}
    </ul>
{% endblock %}
